/* 全局默认模式颜色定义 */
:root {
  --background-color: white;
  --background-color-layout: #f5f5f5;
  --text-color: black;
  --primary-color: blue;
  --secondary-color: gray;
  --border-color: #ddd;
  --link-color: blue;
  --button-background-color: #007bff;
  --button-text-color: white;
}

/* 暗黑模式颜色覆盖 */
html.dark {
  --background-color: #121212;
  --background-color-layout: #101112;
  --text-color: white;
  --primary-color: #1e90ff;
  --secondary-color: #aaa;
  --border-color: #333;
  --link-color: #1e90ff;
  --button-background-color: #333;
  --button-text-color: white;
}

/* 全局应用背景和文字颜色 */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
